name: database
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  database:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Backup and Zip
        id : backup
        run: |
          xargs -a database -I# mongodump --uri="${{ secrets.MONGODB_URI }}/#" --gzip --archive=#.bak
          zip -9vr database.zip *.bak
          echo "::set-output name=date::$(TZ=CST date +'%Y-%m-%d')"

      - name: Send backup email
        uses: dawidd6/action-send-mail@v2
        with:
          server_address: smtp.live.com
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: Database Backup-${{ steps.backup.outputs.date }}
          body: Database Backup
          from: Github Actions
          to: ${{ secrets.USERNAME }}
          attachments: database.zip
