name: database
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  database:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Backup and Zip
        id : backup
        run: |
          xargs -a database -I# mongodump --uri="${{ secrets.MONGODB_URI }}/#" --gzip --archive=#.bak
          zip -9vr database.zip *.bak
          echo "date=$(TZ=PRC date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Send backup email
        uses: dawidd6/action-send-mail@v4
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: Database Backup - ${{ steps.backup.outputs.date }}
          body: Database Backup
          from: Github Actions
          to: ${{ secrets.TO }}
          attachments: database.zip
