name: geph
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 1 * *'

jobs:
  geph:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          path: repo

      - name: Get latest tag
        uses: actions/github-script@v6
        id: get-tag
        with:
          result-encoding: string
          script: |
              const tags = await github.rest.repos.listTags({
                owner: 'geph-official',
                repo: 'geph4',
              })
              return tags.data[0].name

      - name: Check new version
        shell: bash
        id: check-version
        run: |
          tag=$(cat repo/geph)
          if [[ $tag != ${{ steps.get-tag.outputs.result }} ]]
          then
            echo ${{ steps.get-tag.outputs.result }} > repo/geph
            echo "new_version=1" >> $GITHUB_OUTPUT
          else
            echo "new_version=0" >> $GITHUB_OUTPUT
          fi

      - name: Build
        shell: bash
        if: steps.check-version.outputs.new_version == 1
        run: |
          git clone https://github.com/geph-official/geph4
          cd geph4
          rustup default stable-i686-pc-windows-msvc
          rustup target add x86_64-unknown-linux-gnu
          rustup update
          cargo update
          cargo build --release --locked
          mv target/release/geph4-client.exe ..
          cargo install cross
          cross build --release --locked --target x86_64-unknown-linux-gnu
          mv target/x86_64-unknown-linux-gnu/release/geph4-client ..
          cd ../repo
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "${{ steps.get-tag.outputs.result }}"
          git push

      - name: Delete Old Release
        if: steps.check-version.outputs.new_version == 1
        uses: actions/github-script@v6
        with:
          script: |
            let release
            try {
              release = await github.rest.repos.getReleaseByTag({
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag: 'geph'
              })
            } catch(e) {
              console.error(e)
              return
            }
            await github.rest.repos.deleteRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: release.data.id
            })
            await github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'tags/geph'
            })

      - name: Create Release
        if: steps.check-version.outputs.new_version == 1
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: geph
          name: geph
          files: geph4-client*

      - name: Send notify
        if: steps.check-version.outputs.new_version == 1
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: geph - ${{ steps.get-tag.outputs.result }}
          body: geph - ${{ steps.get-tag.outputs.result }}
          from: Github Actions
          to: ${{ secrets.TO }}
