name: geph
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'

jobs:
  geph:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.check-version.outputs.new_version }}
      upload_url: ${{ steps.release.outputs.upload_url }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          path: repo

      - name: Get latest tag
        uses: actions/github-script@v6
        id: get-tag
        with:
          result-encoding: string
          script: |
              const tags = await github.rest.repos.listTags({
                owner: 'geph-official',
                repo: 'geph4-client',
              })
              return tags.data[0].name

      - name: Check new version
        id: check-version
        run: |
          tag=$(cat repo/geph)
          if [[ $tag != ${{ steps.get-tag.outputs.result }} ]]
          then
            echo ${{ steps.get-tag.outputs.result }} > repo/geph
            echo "new_version=1" >> $GITHUB_OUTPUT
            cd repo
            git config user.name github-actions
            git config user.email github-actions@github.com
            git add .
            git commit -m "${{ steps.get-tag.outputs.result }}"
            git push
          else
            echo "new_version=0" >> $GITHUB_OUTPUT
          fi

      - name: Delete Old Release
        if: steps.check-version.outputs.new_version == 1
        uses: actions/github-script@v6
        with:
          script: |
            let release
            try {
              release = await github.rest.repos.getReleaseByTag({
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag: 'geph'
              })
            } catch(e) {
              console.error(e)
              return
            }
            await github.rest.repos.deleteRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: release.data.id
            })
            await github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'tags/geph'
            })

      - name: Create Release
        id: release
        if: steps.check-version.outputs.new_version == 1
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: geph
          name: geph
          body: geph - ${{ steps.get-tag.outputs.result }}

      - name: Send notify
        if: steps.check-version.outputs.new_version == 1
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: geph - ${{ steps.get-tag.outputs.result }}
          body: geph - ${{ steps.get-tag.outputs.result }}
          from: Github Actions
          to: ${{ secrets.TO }}

  build:
    needs: geph
    if: ${{ needs.geph.outputs.new_version == 1 }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest ]
        include:
          - os: windows-latest
            windows: stable-i686-pc-windows-msvc
    steps:
      - if: ${{ matrix.windows }}
        name: Setup Rust
        run: |
          rustup default ${{ matrix.windows }}
          rustup update

      - name: Build
        shell: bash
        run: |
          git clone https://github.com/geph-official/geph4-client
          cd geph4-client
          cargo update
          cargo build --release --locked
          rm target/release/*.d

      - name: Upload Release Asset
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ needs.geph.outputs.upload_url }}
          asset_path: geph4-client/target/release/geph4-client*

      - if: ${{ matrix.windows }}
        name: Upload WinDivert.dll
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ needs.geph.outputs.upload_url }}
          asset_path: geph4-client/windows-lib/WinDivert.dll
