name: Forward Mail
on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  mail:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.x'

      - name: Run
        run: |
          go run forwardMail.go -addr ${{ secrets.ADDR }} -user ${{ secrets.USER }} -pass ${{ secrets.PASS }} \
          -to ${{ secrets.TO }} -server ${{ secrets.SERVER }} -mail ${{ secrets.USERNAME }} -password ${{ secrets.PASSWORD }}
