name: source
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  source:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Download and Zip
        id : backup
        run: |
          mkdir -p source
          for repo in $(cat backup); do
            curl -Lo- https://github.com/sunshineplan/$repo/archive/main.tar.gz | tar zxC source
          done
          cd source
          zip -9vr ../code *
          cd ..
          mv code.zip code
          zip -9vP ${{ secrets.PASSWORD }} source code
          mv source.zip source.code
          echo "date=$(TZ=PRC date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Send backup email
        uses: dawidd6/action-send-mail@v9
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: Source Code Backup - ${{ steps.backup.outputs.date }}
          body: file://backup
          from: Github Actions
          to: ${{ secrets.TO }}
          attachments: source.code
