name: source
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  source:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.x'

      - name: Download and Zip
        id : backup
        run: |
          go get github.com/sunshineplan/cipher
          go get github.com/sunshineplan/utils
          go run source.go -key ${{ secrets.PASSWORD }}
          echo "::set-output name=date::$(TZ=PRC date +'%Y-%m-%d')"

      - name: Send backup email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: Source Code Backup-${{ steps.backup.outputs.date }}
          body: file://backup
          from: Github Actions
          to: ${{ secrets.TO }}
          attachments: source
