name: source
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  source:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download and Zip
        id : backup
        run: |
          mkdir -p source
          xargs -a backup -I@ curl -Lo- https://github.com/sunshineplan/@/archive/main.tar.gz | tar zxC source
          cd source
          zip -9vr ../source *
          echo "::set-output name=date::$(TZ=PRC date +'%Y-%m-%d')"

      - name: Send backup email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: Source Code Backup-${{ steps.backup.outputs.date }}
          body: Source Code Backup
          from: Github Actions
          to: ${{ secrets.TO }}
          attachments: source.zip
