name: vps
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'

jobs:
  vps:
    runs-on: ubuntu-latest
    steps:
      - name: Get Bandwidth Usage
        id: usage
        uses: actions/github-script@v4
        with:
          result-encoding: string
          github-token: Bearer ${{ secrets.VPS_TOKEN }}
          script: |
            const resp = await github.request('https://api.vpsserver.com/v1/servers.json')
            const result = []
            for (const server of resp.data.servers) {
              const resp = await github.request(`https://api.vpsserver.com/v1/servers/${server.id}.json`)
              const label = resp.data.server.label
              const bandwidth_used = resp.data.server.bandwidth_used/1024/1024
              result.push(`${label}: ${bandwidth_used}`)
            }
            return result.join('\n')

      - name: Date
        id: date
        run: echo "::set-output name=date::$(TZ=CST date +'%Y-%m-%d')"

      - name: Send backup email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.live.com
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: VPS Bandwidth Usage - ${{ steps.date.outputs.date }}
          body: ${{steps.usage.outputs.result}}
          from: Github Actions
          to: ${{ secrets.TO }}
