name: vps
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'

jobs:
  vps:
    runs-on: ubuntu-latest
    steps:
      - name: Get Balance
        id: balance
        uses: actions/github-script@v7
        with:
          github-token: Bearer ${{ secrets.VPS_TOKEN }}
          script: |
            resp = await github.request('https://api.vpsserver.com/v1/user.json')
            return resp.data.user.balance
          result-encoding: string

      - name: Authentication
        id: auth
        uses: actions/github-script@v7
        with:
          script: |
            const resp = await fetch('https://console.vpsserver.com/service/authenticate', {
              method: 'POST',
              body: JSON.stringify({ clientid: '${{ secrets.CLIENT_ID }}', secret: '${{ secrets.SECRET }}' }),
              headers: { 'Content-Type': 'application/json' }
            })
            return resp.authentication
          result-encoding: string

      - name: Get Usage
        id: usage
        uses: actions/github-script@v7
        with:
          script: |
            const resp = await fetch('https://console.vpsserver.com/service/servers', {
              headers: { 'Content-Type': 'application/json', Authorization: 'Bearer ${{ steps.auth.outputs.result }}' }
            })
            const result = []
            for (const server of resp) {
              const resp = await github.request(`https://console.vpsserver.com/service/server/${server.id}`, {
                headers: { 'Content-Type': 'application/json', Authorization: 'Bearer ${{ steps.auth.outputs.result }}' }
              })
              if (resp.ok) result.push(`${server.name}: ${resp.traffic/1024/1024}`)
            }
            return result.join('\n')
          result-encoding: string

      - name: Date
        id: date
        run: echo "date=$(TZ=PRC date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Send backup email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SERVER }}
          server_port: 587
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          subject: 'VPS Usage - ${{ steps.date.outputs.date }} - Balance: $${{ steps.balance.outputs.result }}'
          body: ${{ steps.usage.outputs.result }}
          from: Github Actions
          to: ${{ secrets.TO }}
