name: xxqg
on:
  workflow_dispatch:

jobs:
  xxqg:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.x'

      - name: Delete Old Release
        uses: actions/github-script@v6
        with:
          script: |
            let release
            try {
              release = await github.rest.repos.getReleaseByTag({
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag: 'xxqg'
              })
            } catch(e) {
              console.error(e)
              return
            }
            await github.rest.repos.deleteRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: release.data.id
            })
            await github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'tags/xxqg'
            })

      - name: Build
        run: |
          git clone -b dev https://github.com/sunshineplan/xxqg
          go build -ldflags "-s -w"
          GOOS=windows go build -ldflags "-s -w"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: xxqg
          name: xxqg
          files: xxqg*
